<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
  </head>
  <body>
    <form action="/login" target="_blank" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <br>
      <label for="age">Age:</label><br>
      <input type="text" id="age" name="age"><br>
      <br>
      <label for="ninja">Favorite NINJA:</label><br>
      <input type="text" id="ninja" name="ninja"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
